a.reader {
    width: 100%;
    aspect-ratio: 292 / 424;
}

.hover-details {
    display: none;

    margin-top: 15px;
    margin: 0px 15px 0px 15px;
}

.hover-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.artist {
    font-size: 15px;
    margin-bottom: 15px;
}

.artist>a {
    color: var(--dark-gold);
}

ul.tag-list {
    size: 5px;
    margin-top: 30px;
    display: inline;
    margin: 0px;
}

li.tags {
    font-size: 14px;
    display: inline;
    border-bottom: 1px solid var(--dark-gold);
}

.rating {
    margin-top: 20px;
}

.btn-readmore {
    background-color: var(--sexy-color);
    border: 0px;
    border-radius: 7px;

    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    /* margin-top: 55%; */
    padding: 3% 10% 1% 10%;
}

.img-readmore {
    width: 35px;
}

.container {
    width: 240px;
    position: relative;
    text-align: center;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 292 / 424;
    border-radius: 5px;
}

.title {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    width: 100%;
    height: 30px;

    position: absolute;
    bottom: 5px;
}

div.line {
    position: absolute;
    top: 0px;

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--sexy-color);
}

.title>p {
    background-color: transparent;
    padding-top: 5px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

@media all and (min-width: 601px) {
    div.mobile-hover-btn {
        display: none;
    }
    button.btn-readmore {
        cursor: pointer;
    }
    div.container:hover div.title {
        display: none;
    }

    div.container:hover div.hover-details {
        display: block;
        width: 100%;
        aspect-ratio: 292 / 424;

        position: absolute;
        top: 0px;
    }

    div.container:hover img.thumbnail {
        filter: brightness(20%);
    }

    .artist>a:hover {
        border-bottom: 1px solid var(--dark-gold);
    }
}

@media all and (max-width: 600px) {

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    div.container {
        width: 180px;
    }

    img.img-readmore {
        width: 30px;
    }

    /* ARRANGE HOVER DETAILS TO MOBILE DISPLAY */

    .hover-title {
        font-size: 17px;
        margin-bottom: 3px;
    }

    .artist {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .rating {
        margin-top: 5px;
    }

    .mobile-hover-btn {
        border: none;
        font-weight: 400;
        font-size: large;

        display: block;
        border-radius: 0px 0px 5px 5px;
        width: 28px;
        height: 28px;
        background-color: var(--sexy-color);

        position: absolute;
        bottom: 5px;
        right: 0px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* JS MOBILE TOGGLE CLASSES */
    .mobile-thumbnail {
        filter: brightness(20%);
    }

    .mobile-title {
        display: none;
    }

    .mobile-hover-details {
        display: block;
        width: 100%;
        aspect-ratio: 292 / 424;

        position: absolute;
        top: 0px;
    }


    .mobile-hover-top-radius-btn {
        border-radius: 5px;
    }
}
