img {
    width: 100%;
}

.reader-grid {
    margin-top: 20px;
    width: 550px;
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

.controller-grid > * {
    display: none;
}

.grid-controller-infinite-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    

    width: 250px;
    height: 40px;
    background-color: black;

    position: fixed;
    bottom: 0px;
    right: 0px;
}

.infinite-controller > button {
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
}
.infinite-controller > button:hover {
    background-color: var(--dark-gold);
    color: black;
    
}

.left-button, .grid-controller-infinite-scroll {
    border-radius: 5px 0px 0px 0px;
}
