/*
DISABLE INFINITE SCROLL ELEMENTS
*/
.grid-controller-infinite-scroll {
    display: none
}
/**/

.reader-grid {
    margin-top: 20px;
    width: 400px;
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

img {
    width: 100%;
}

div.card {
    display: none;
}

div.displayed-card {
    display: inline-block
}

.controller-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    height: 25px;
    padding: 5px 20px 7px 20px;
    margin-top: 0px;
}

.controller, .drop-btn {
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.controller:hover {
    background-color: var(--dark-gold);
}

.controller:hover p {
    color: black;
}

.controller {
    cursor: pointer;

}

div.grid-item {
    display: flex;
    justify-content: center;
    height: 25px;
}

.drop-btn {
    display: inline;
}

.controller>p {
    display: inline;
    color: var(--dark-gold);
}

p.unicode-right:after {
    content: "\25BC";
    display: inline-block;
    transform: rotate(-90deg);
}

p.unicode-left:after {
    content: "\25BC";
    display: inline-block;
    transform: rotate(90deg);
}


/* Dropdown Button */
.drop-btn {
    display: inline;
    color: var(--dark-gold);
    width: 70px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-wrapper:hover > .drop-btn {
    background-color: var(--dark-gold);
    color: black !important;
}

.clicked-drop-btn {
    border-radius: 0px 0px 3px 3px;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* HIDDEN BY DEFAULT */
    background-color: var(--dark-body);

    position: absolute;
    bottom: 100%;

    width: 100%;
    max-height: 200px;
    overflow-y: scroll;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 7;

    border-radius: 3px 3px 0px 0px;
}

.dropdown-content a {
    color: var(--dark-gold);
    text-align: center;
    padding: 5px 0px;
    width: 100%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--dark-gold);
    color: black;
}

/* JS CLASSES */
/* CLASS USED BY normal.js TO "SHOW" (OVERWRITE DISPLAY PROPORTIES) */
.show {
    display: block;
}

.highlight-dropdowns-a {
    background-color: var(--dark-gold);
    color: black !important;
}