footer {
    margin: 0px;
    padding-bottom: 10px;
    
    font-size: 14px;
    /* background-color: rgb(12, 12, 12); */
    background-color: var(--dark-footer);
}

footer > main.footer-main {
    margin: 10px;
    padding: 10px;
}


p.footer-left {
    float: left;
}

p.footer-right {
    float: right;
}
