header {
    /*font-family: inherit;*/
    background-color: var(--dark-header);
    margin: 0px;
}

.ascii-wrapper {
    display: flex;
    justify-content: center;
}

.mermaid {
    font-weight: bold;
}

title {
    display: flex;
}


@media all and (max-width: 600px) {
    .ascii-wrapper {
        font-size: 5px;
    }

    .site-title {
        display: none;
    }

    .mermaid {
        margin-top: 10px;
        font-size: 10px;
    }
}
