* {
    --sexy-color: rgb(238, 38, 37);
    --dark-gold: rgb(255, 206, 31);
    --dark-header: rgb(9, 9, 9);
    --dark-footer: var(--dark-header);
    --dark-body: rgb(12, 12, 12);
    --font-color: white;

    color: var(--font-color);
    margin: 0px;
    padding: 0px;
}

a:hover {color: var(--dark-gold)}

body {
    background-color: var(--dark-body);
    font-family: Nunito;
}


ul {
    list-style-type: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

/* 
Red Heart   :   <i class="heart red-heart"></i>
Grey Heart  :   <i class="heart red-heart"></i>
*/
i.red-heart {color: var(--sexy-color);}
i.grey-heart {color: rgb(223, 223, 223);}
i.heart::before {
    font: normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f004";
}
